
<!-- Last Update On January 24 monday 7:51 PM min Thank You -->
<!-- lat update tuesday 11.31 -->

<!-- Welcome -->




<style>
    .example {
      cursor: pointer;
      height: 230px;
      position: relative;
      overflow: hidden;
      width: 337px;
      text-align: center;
    }
    .example .fadedbox {
      background-color: #666666;
      position: absolute;
      top: 0;
      left: 0;
      color: rgb(223, 247, 9);
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      opacity: 0;
      width: 360px;
      height: 100px;
      padding: 115px 20px;
    }
    .example:hover .fadedbox {
      opacity: 0.6;
    }
    .example .text {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(30px);
      -webkit-transform: translateY(30px);
    }
    .example .title {
      font-size: 2em;
      opacity: 0;
      transition-delay: 0.2s;
      transition-duration: 0.3s;
    }
    .example:hover .title,
    .example:focus .title {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
    }
  </style>
  
  <!--  -->
  
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-3 ">
    <div class="container">
      <a class="navbar-brand" href="#" style=" font-size: 23px; font-family: 'Raleway', sans-serif;">Shapely Demo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse mx-auto navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 mx-auto ">
            <li class="nav-item">
              <a class="nav-link active ms-3" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-3" href="#">Portfolio</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ms-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                AboutTheTest
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Page Alignment</a></li>
                <li><a class="dropdown-item" href="#">Page Formmatting</a></li>
                <li><a class="dropdown-item" href="#">Clear Floats</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ms-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Level1
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Level2</a></li>
                  <li><a class="dropdown-item" href="#">Level3</a></li>
                  <li><a class="dropdown-item" href="#">Level4</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active ms-3" aria-current="page" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active ms-4 border-0 " href="#" title="Search Bar" aria-current="page" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover"><i class="bi bi-search link-primary" ></i></a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
  
  
  
  
  <!--  -->
  <div class="row align-items-center mt-5" style="background-image: url(../../../assets/waveimage2.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; height:100vh; width:99.6vw;">
    <div class="col text-center text-light">
        <h1 style="font-family: 'Rajdhani', sans-serif; font-size:60px;" class="text-wrap">We Change Everything <br>
            WordPress</h1>
       <p class="lead">This is the only WordPress theme you will ever want to use.</p>
      <div class="d-grid d-md-block justify-content-center">
        <button href="#" type="button" class="btn btn-lg text-light rounded-0 px-5" style="background-color: rgb(116,92,249);">Learn more</button>&nbsp;
        <button href="#" type="button" class="btn btn-lg btn-outline-light rounded-0 px-4 border-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Right popover">Download Now</button>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <div class="container-md">
    <div class="row py-5 d-flex flex-wrap align-items-center">
      <div class="col-md-7">
          <img src="../../../assets/image1.webp" class="img-fluid" alt="" srcset="">
      </div>
      <div class="col-md offset-md-1">
        <div class="">
          <h3 class="mb-4 fw-normal">SEO Friendly</h3>
          <p class=" mb-4 text-break text-wrap" style="font-size: 14px;color: #8c979e;line-height: 22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.</p>
          <button class="btn rounded-0 px-5 text-white py-3" style="background-color: rgb(116,92,249);">READ MORE</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--  -->
  <div style="background-color: rgb(245, 245, 245);">
    <div class="container-md">
      <div class="row py-5 d-flex flex-wrap align-items-center">
        <div class="col-md">
          <div class="">
            <h3 class="mb-4 fw-normal">Portfolio Section</h3>
            <p class=" mb-4 text-break text-wrap" style="font-size: 14px;color: #8c979e; line-height: 22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.</p>
            <button class="btn rounded-0 px-5 text-white py-3" style="background-color: rgb(116,92,249);">SEE IT IN ACTION</button>
          </div>
        </div>
        <div class="col-md-7 offset-md-1">
          <img src="../../../assets/image2.webp" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
  
  <!--  -->
  <!--  -->
  
  <div class="d-flex flex-column text-light py-5" style="background-image: url(../../../assets/waveimage1.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <div class="text-center pt-5">
        <h1>Small Parallax Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet rhoncus porta. Ut quis sem quis purus lobortis dictum. Aliquam <br> nec dignissim nisl. Vivamus cursus feugiat sapien, eget tincidunt leo ornare quis.
        </p>
    </div>
    <div class="text-center pb-5">
        <a href="#" class="btn btn-lg text-light fw-bold rounded-0" style="background-color: rgb(116,92,249);">Learn more</a>
  
    </div>
  </div>
  
  <!--  -->
  <!--  -->
  
  <div>
    <div class="text-center">
        <h3 class="pt-5">Limitless Options</h3>
        <p class="text-wrap text-break">Phasellus sed nisi ac dui interdum semper. Etiam consequat fermentum sollicitudin.Fusce vulputate porta faucibus. Vivamus nulla tellus, <br>
             accumsan non efficitur id, pretium quis ante</p>
            <button class="px-5 mb-3 py-3 border-0 text-light" style="background-color: rgb(116,92,249);">DOWNLOAD NOW</button>   
  
    </div>
    <div class="container">
        <img src="../../../assets/image3.jpg" class="img-fluid" alt="" srcset="">
    </div>
  </div>
  
  <!--  -->
  <!--  -->
  
  <div class="bg-dark">
    <div class="text-center text-light pt-5">
        <h3>Our Latest Projects</h3>
        <p>Here is our latest projects. You'll love them!</p>
    </div>
    <div>
        <div class="d-flex flex-wrap justify-content-evenly" >
                <div class="example text-center text-light" *ngFor="let img of imagesrc">
                    <img src="assets/{{img.imagepath}}" alt="{{img.alt}}" srcset="" class="img-fluid border-0" height="300" width="337" >
                    <div class="fadedbox">
                      <div class="title text"> {{img.text}} </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
  
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade img-fluid py-5" data-bs-ride="carousel" style="background-image: url(../../../assets/cloud.jpg); background-repeat: no-repeat; background-size: cover; height: 100%;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="text-center text-light py-5">
            <h3>What Our Customers Say</h3>
        </div>
      <div class="carousel-item active text-light text-center">
        <div class="d-block w-100 h-100 text-wrap text-break">
            Integer ut rutrum nulla, sit amet fringilla nisi. Nam nisl velit, vehicula at nibh sed, porttitor sollicitudin ante. Sed justo <br>
             augue, vestibulum ut efficitur vitae, euismod et justo. Mauris sed mattis ante. Ut ligula lectus, consequat vitae neque <br>
              ac, gravida hendrerit ante.
        </div>
        <div class="d-sm-block">
          <img src="../../../assets/slider-image-1.jpg" alt="" class="img-thumbnail rounded-circle" srcset="" height="100" width="100">
          <p class="text-light mt-3">John Doe</p>
        </div>
      </div>
      <div class="carousel-item text-light">
        <p class="d-block w-100 text-center ">
            Nunc sit amet lobortis nulla. Nunc ullamcorper, mi id luctus dictum, augue tortor dictum ipsum, nec congue arcu <br>
             lorem in nisl. Duis neque lacus, viverra non mauris ac, pharetra rhoncus libero. Aliquam varius viverra ex, in venenatis <br>
              magna ornare sit amet. Integer varius sit amet turpis eu ullamcorper.
        </p>
        <div class="text-center d-sm-block">
            <img src="../../../assets/slider-image-2.jpg" alt="" class="img-thumbnail rounded-circle" srcset="" height="100" width="100">
            <p class="text-light mt-3">Aigars Silkalns</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev d-md-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-md-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
  <!--  -->
  <!--  -->
  
  <div class="text-center d-flex flex-wrap align-items-center justify-content-evenly py-5" style="background-color: rgb(245, 245, 245);">
    <div class="">
        <h2>Do you like this awesome WordPress theme</h2>
    </div>
    <div class="">
        <a class="btn btn-md py-3 px-5 rounded-0 text-light" style="background-color: rgb(116,92,249);">DOWNLOAD NOW</a>   
    </div>
  </div>
  
  <!--  -->
  <!--  -->
  
  <div class="py-5 bg-dark">
  <div class="d-flex flex-wrap flex-row justify-content-evenly">
    <div class="text-light float-center">
      <h5>Theme by Colorlib Powered by WordPress</h5>
  </div>
  <div>
      <ul class="">
        <a href="#"><i class="bi bi-facebook pe-3"></i></a>
        <a href="#"><i class="bi bi-twitter pe-3"></i></a>
        <a href="#"><i class="bi bi-linkedin pe-3"></i></a>
        <a href="#"><i class="bi bi-youtube pe-3"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
      </ul>
  </div>
  </div>
    <div class="float-end me-4">
      <button class="bg-dark btn border-light" (click)="onEdit()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tap To Top"><a class="link-light"><i class="bi bi-arrow-up"></i></a></button>
    </div>
  </div>
  
  <!--  -->
  <!--  -->